In [1]:
import numpy as np
import pandas as pd

In [4]:
matches = pd.read_csv('matches - matches.csv')

In [6]:
delivery = pd.read_csv('deliveries.csv')

In [59]:
delivery.shape

(150460, 21)

In [8]:
delivery.head(7)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN

In [34]:
runs = delivery.groupby('batsman')

In [92]:
len(runs)

461

In [93]:
runs.size().sort_values(ascending=False)

batsman
V Kohli           3494
G Gambhir         3433
SK Raina          3369
RG Sharma         3274
S Dhawan          3005
                  ...
M Ashwin             1
DP Vijaykumar        1
C Nanda              1
U Kaul               1
V Pratap Singh       1
Length: 461, dtype: int64

In [94]:
# Total no. of balls played by V Kohli over 10 years of IPL
runs.get_group('V Kohli').shape[0]

3494

In [95]:
runs['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [134]:
boundary_mask = delivery['batsman_runs'] == 6
new_delivery = delivery[boundary_mask] # filtered data of the batsmans who only hit `4` runs

In [135]:
# Total no. of boundries in IPL over 10 years
new_delivery.shape[0]

6523

In [136]:
res = new_delivery.groupby('batsman')

In [139]:
# Top 5 players who hit most 6's in IPL over 10 years
res.size().sort_values(ascending=False).head()

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
DA Warner    160
V Kohli      160
dtype: int64

In [ ]:
# another way to write the same code

In [149]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
DA Warner    160
V Kohli      160
Name: batsman_runs, dtype: int64

In [163]:
# runs.get_group('V Kohli')[['batsman_runs', 'bowling_team']].drop_duplicates('bowling_team')

In [188]:
# Againts which top 3 teams V Kohli has scored most runs
vk = delivery[delivery['batsman'] == 'V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [207]:
# Creating function to performe same task.
def total_run_scored_by_batsman(batsman_name):
    '''
    this is function tells which batsman scored highest runs againts which team
    Input: batsman_name as String
    Output: team againts which batsman score highest runs as String
    '''
    vk = delivery[delivery['batsman'] == batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).index[0]

In [208]:
total_run_scored_by_batsman('CH Gayle')

'Kings XI Punjab'

In [209]:
total_run_scored_by_batsman('V Kohli')

'Chennai Super Kings'

In [210]:
total_run_scored_by_batsman('MS Dhoni')

'Royal Challengers Bangalore'