In [1]:
import numpy as np
import pandas as pd

In [4]:
delivery = pd.read_csv('deliveries.csv')

In [5]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [10]:
delivery.groupby('batsman').size().sort_values(ascending=False)

batsman
V Kohli           3494
G Gambhir         3433
SK Raina          3369
RG Sharma         3274
S Dhawan          3005
                  ...
M Ashwin             1
DP Vijaykumar        1
C Nanda              1
U Kaul               1
V Pratap Singh       1
Length: 461, dtype: int64

In [28]:
delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
V Kohli           3494
G Gambhir         3433
SK Raina          3369
RG Sharma         3274
S Dhawan          3005
                  ...
M Ashwin             1
DP Vijaykumar        1
C Nanda              1
U Kaul               1
V Pratap Singh       1
Name: batsman_runs, Length: 461, dtype: int64

In [58]:
death_overs = delivery[delivery['over'] > 15]

In [59]:
# Another version of the same code
death_over_batsmans = death_overs.groupby('batsman')['batsman_runs'].count()

In [71]:
x = death_over_batsmans > 200
death_over_batsmans_list = death_over_batsmans[x].index.tolist()

In [72]:
death_over_batsmans_list

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [76]:
death_over_batsmans

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Flintoff         18
                 ...
YS Chahal          27
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      516
Z Khan            109
Name: batsman_runs, Length: 416, dtype: int64

In [100]:
# Calculate
# Runs scored by all these 43 batsmans
# Balls played by these 43 batsman
final = delivery[delivery['batsman'].isin(death_over_batsmans_list)]

In [101]:
# Runs scored by all these 43 batsmans
runs = final.groupby('batsman')['batsman_runs'].sum()

In [102]:
# Balls played by these 43 batsman
balls = final.groupby('batsman')['batsman_runs'].count()

In [108]:
# Calculate strike rate of these 43 players(death over batsmans)
strike_rate = (runs/balls)*100

In [112]:
strike_rate.sort_values(ascending=False).head()

batsman
AB de Villiers    145.129059
YK Pathan         140.751445
KA Pollard        140.621266
DA Warner         138.318401
DA Miller         137.709251
Name: batsman_runs, dtype: float64